<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to hidden files
    RewriteRule (^|/)\. - [F]

    # Redirect root to public folder
    RewriteRule ^$ public/ [L]

    # Redirect everything to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>